/* seletor universal */
* {
    /* Zera amargem do documento */
    margin: 0;
    /* gera um espaçamento interno */
    padding: 0;

}
/* seleto se tipo, aplica o css em uma tag */
.h5{
    color: blueviolet !important;
}

/* seletor de classe */
.titulo{

    background-color: rgb(0, 0, 0);
    color: aqua;
    /* aplica margin em todas laterais */
    /* margin: 10px; */
    /* margin-left: 20px; */
    /* aplicando espaçamento no superior o inferior */
    /* e aplico tambens na laterais esquerda e direita */
    margin: 0 10px 0 0;
    /* aplicando espaçamento interno */
    /* padding: 10px; */
    padding: 0 10px;
}
.p{
    background-color: aquamarine;
}

.imagem{
    /* aplicando tamnho em largura */
    width: 200px;
    /* aplicando atamenho em altura */
    height: 200px;
}
    .formulario{
        background-color: rgb(255, 128, 0);
            width: 200px;
            margin: 0 auto;
            /* alinha o conteudo interno, centraliza */
            text-align: center;
    }
    .input-nome{
        /* <!-- remover as bordas --> */
        border: nome;
        border-radius: 2px;
        margin-left: 10px;
        /* definir opacidade no campo texto */
        opacity: 70%;
    }
    .botao{
        background-color: cyan;
        border: 0;
        border-radius: 5px;
        padding: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        /* aplicando sombra no texto posição x, y blur*/
        text-shadow: 5px 2px 5px rgba(212, 14, 57, 0.9);

    }
    .checar{
        width: 20px;
        height: 20px;
        margin: 5px;
        /* modifica o tipo do cursor */
        cursor: pointer;
        /* limpar cofigurações de aparencia */
        appearance: none;
        background-color: #fff;
        border: 2px solid ;

    }
.checar:checked {
    background-color: #4caf50
}
.email {
    width: 300px;
    padding: 5px;
    margin-left: 5px;
    border: 2px solid #fff;
}
.selecao {
    appearance: none;
    width: 300px;
    padding: 4px;
    font-size: 16px;
    color: deeppink;
    background-color: grey;
    border: 2px;
    border-radius: 5px;
    /* SOMBRA NO INPUT */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);


}
.radio {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #d3421d;
    border-radius: 50%;
}
/* PSEUDOCLASSE QUANDO O ESTADO DO OBJETO MUDAR, ELE ATRIBUI OUTRAS PROPRIEDADES */
.radio:checked {
    background-color: #d3421d;
    border-color: #50d31d;
}
