
*{
margin: 0px;
padding: 0px;
h4{
    margin-left: 5px;
    margin-top: 0px;
    font-size: 35px;
    color: chartreuse;
    }
 a{
    font-size: 15px;
    margin-top: 0px;
    margin-left: 750px;
    

}
img{
    width: 100%;
    height: 600px;

}
}

